@import '../../styles/variaveis';

.pokemonCard {
    display: flex;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.815);
    border-radius: 3px;
    background-color: #13131a;
    font-family: 'Tajawal', sans-serif;
    color: aliceblue;
}

.pokemonImgContainer {
    padding: 5px 5px;
    padding-left: 20px;
}

.pokemonImg {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 0px;
    flex: 1;
}

.cardTop {
    display: flex;
    justify-content: space-around;
    font-weight: $title;
    
    
    h3 {
        font-size: 20px;

        text-transform: capitalize;
    }
}



.cardBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.type {
    display: flex;
}

.typeText {
    margin-right: 10px;
    text-transform: capitalize;
}

.heartBtn {
    border: none;
    background-color: rgba(245, 222, 179, 0);
    padding: 4px;
    cursor: pointer;
    align-items: center;

}